h1 {
  margin-bottom: 3rem;
  font-weight: 800;
}

p { 
  margin-bottom: 4rem;
  font-weight: 600;
}

.name-field,
.email-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0rem;
  font-weight: 600;
}

.name-field input,
.email-field input,
.city-field input,
.postal-code-field input,
.address-field input {
  width: 20rem;
  padding: 0.7rem;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 1px rgba(160, 169, 186, 0.788);
}

textarea {
  padding: 0.7rem;
  margin-top: 0.5rem;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 1px rgba(160, 169, 186, 0.788);
}

hr {
  margin: 3rem 0rem;
}

.city-postal-wrapper {
  display: flex;
  justify-content: space-between;
}

.city-field input,
.postal-code-field input,
.address-field input {
  width: 10rem;
  margin-top: 0.5rem;
}

.city-field,
.postal-code-field,
.address-field,
.text-field {
  display: flex;
  flex-direction: column;
  margin: 1rem 0rem;
  font-weight: 600;
}

.text-field .labels {
  display: flex;
  justify-content: space-between;
}

#optional {
  font-weight: 200;
}

.terms input {
  margin: 2rem 1rem 2rem 0rem;
  width: 1.3rem;
  height: 1.3rem;
}

button {
  width: 10rem;
  padding: 0.7rem;
  font-weight: 800;
  font-size: 1rem;
  background-color: #EF7878;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  color: white;
}

.email-sucess {
  margin-top: 2rem;
  padding: 0.5rem;
  color: white;
  text-align: center;
  background-color: rgb(11, 236, 11);
  border-radius: 3px;
}

.email-alert {
  margin-top: 2rem;
  padding: 0.5rem;
  text-align: center;
  background-color: rgb(236, 232, 11);
  border-radius: 3px;
}

/* Mobile stylings */

@media only screen and (max-width: 600px) {
  .name-field,
  .email-field {
    flex-direction: column;
    align-items: flex-start;
  }
  .name-field input,
  .email-field input {
    margin: 0.5rem 0rem;
  }
}

@media only screen and (max-width: 950px) {

  .city-postal-wrapper {
    display: flex;
    flex-direction: column;
  }

  .name-field,
  .email-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .name-field input,
  .email-field input,
  .city-field input,
  .postal-code-field input,
  .address-field input {
    width: 100%;
    margin: 0.5rem 0rem;
  }
}