<div class="container">
  <div class="wrapper">
    <div class="logo-wrapper">
      <a href="#">
        <img src="../../../assets/footer-logo.png" alt="cat logo">
      </a>
    </div>
    <ul>
      <li>Privacy Policy</li>
      <li>Terms & Conditions</li>
      <li>Blog</li>
      <li>Support</li>
    </ul>
    <div class="icon-wrapper">
      <a href="#">
        <img src="./../../../assets/discord.png" alt="discord icon">
      </a>
      <a href="#">
        <img src="./../../../assets/twitter.png" alt="twitter icon">
      </a>
      <a href="#">
        <img src="./../../../assets/instagram.png" alt="instagram icon">
      </a>
    </div>
  </div>
  <h3 class="copyright">Copyright © SmellyCat 2022</h3>
</div>
